[2016-06-10 08:17] pcav opened #1 "Please consider merging your work"
Your plugin is part of a group of plugins with very similar functionalities:
http://plugins.qgis.org/plugins/latlontools/
http://plugins.qgis.org/plugins/zoomtopoint/
http://plugins.qgis.org/plugins/zoomtocoordinates/
http://plugins.qgis.org/plugins/copy_coords/

See a detailed analysis here:
https://lists.osgeo.org/pipermail/qgis-developer/2016-June/043164.html
It would be great if you could coop

[2016-08-19 15:54] #1 closed

[2017-04-06 14:45] rduivenvoorde opened #2 "QGIS 2.14, buitinerror"
Hi,

trying to install the plugin in qgis 2.14.1 here, I get the following error:

![builtinerror](https://cloud.githubusercontent.com/assets/731673/24760207/4623114e-1ae8-11e7-9016-3ae48d5383f5.PNG)

will try on other systems/versions too

[2017-04-06 16:12] hamiltoncj commented on #2
It appears that the latest version of the Boundless mgrs.py code is causing this problem. I am going to revert to an earlier version which seems to work fine. I assume you must be on Linux because the plugin works fine on Windows. I didn't see the problem until I tried my Linux VM. Keep your eyes open for an update. I will update it today and they usually approve it by the following day.

Thanks f

[2017-04-06 19:26] rduivenvoorde commented on #2
@hamiltoncj nope, the problem appeared on a Windows 7 client running the 2.14.1 LTR version.
But now you ask :-) Yes, I'm actually a linux user, and just tried... same problem Running 2.14.13 on Linux here:

![workspace 2_094](https://cloud.githubusercontent.com/assets/731673/24771872/93e0b040-1b0f-11e7-9af0-68ccc8143649.png)

[2017-04-06 19:49] hamiltoncj commented on #2
I have updated the QGIS plugin repo with a new version that should work for you. The new version will be 0.7.1. If you know how to manually install it, you can find it here:

http://plugins.qgis.org/plugins/latlontools/version/0.7.1/

Otherwise, wait until sometime tomorrow and it should be updated in the repo.

[2017-04-07 15:00] makkau commented on #2
![broken_lat_lon](https://cloud.githubusercontent.com/assets/23531099/24805957/ac72b3cc-1b89-11e7-81b3-78bf7af23b3c.JPG)

[2017-04-07 15:34] hamiltoncj commented on #2
Unfortunately, the QGIS team has not yet approved 0.7.1 yet so that is why you are not seeing it. I have no control on when they will approve it. Usually they are fairly quick, but it is not there yet. It probably depends on how busy they are. In your snapshot you will notice that it is still listing version 0.7. You can manually install it by downloading it from

http://plugins.qgis.org/plugins/l

[2017-04-12 14:03] rduivenvoorde commented on #2
@hamiltoncj just checked, works :-)

One thing to add, is some examples of DMS strings that are handled. I have some issues finding out how exactly you want my DMS strings to look like (some examples strings?)

[2017-04-12 15:27] makkau commented on #2
thank you! I will try to install separetely

* Cláudia Oliveira | arquiteta*
www.melhorlugar.blogspot.com

2017-04-07 12:34 GMT-03:00 C Hamilton <notifications@github.com>:

[2017-04-12 16:47] hamiltoncj commented on #2
@rduivenvoorde
I will add some DMS examples. Basically I support two formats

d m s.ss [NS] d m s.ss [EW] with degree, minute, second symbols

ddmmss.ss [NS] dddmmss.ss [EW] In this case, there must be the proper number of digits to make up the coordinate.

Given DMS coordinates I have seen I probable should also support [NS}d m s, [EW] d m s. Is there a format that you think I should support?

Fo

[2017-04-13 06:29] rduivenvoorde commented on #2
@hamiltoncj I approved it now

[2017-04-25 07:01] rduivenvoorde commented on #2
Fixed, so will close this one

[2017-04-25 07:14] rduivenvoorde opened #3 "[FEATURE REQEST] add Button for Multi-Location Zoom"
Thinking out loud here: working with a user who needs to add a couple of coordinates (being some sensor positions, or cars having sensor onboard).

He can add these via the Multi-Location Zoom, but to VIEW them (let's say those 5 points) I have to popup the dialog again and click the Coordinates one by one (NOTE: you can do a multiple selection in that table, but that does not show multiple coordi

[2017-04-25 07:14] #2 closed

[2017-04-25 14:26] hamiltoncj commented on #3
@rduivenvoorde Those are great ideas. I believe all of these changes are for the Multi-Location Zoom. Is that correct? Let me see if I can summarize how this should operate and let me know if I have it correct.

1. Use mini-crosshairs for when the coordinates are clicked on. These should be persistent as long as the coordinate is highlighted. When multiple coordinates are selected show all that ar

[2017-04-26 19:59] hamiltoncj commented on #3
I made a number of the changes and have uploaded them to github. I added a save list button, a label/name field, a persistent crosshair, and a make layer button that creates a memory layer. I don't know if it needs a show all check box or not where you can make a layer of the points. What do you think?

If you have a chance you should be able to manually install the plugin from this latest source

[2017-04-27 16:01] hamiltoncj commented on #3
I have added a "Display markers for all locations." I think this covers all of your requests. Let me know if something is missing. I just need to update the documentation and then will push out a new release.

[2017-04-28 20:14] hamiltoncj commented on #3
Version 0.8.1 is now available in plugins.qgis.org.

[2017-05-02 10:43] rduivenvoorde commented on #3
UBERcool!!

Sorry for this belated feedback, was in Essen at Hackfest, and the these github do not come to me by email...

Just tried 0.8.2 and it works VERY nice!
I think current version is very workable for us :-)

IF I can dream further... what about
- having a setting in where you can choose the values of the 'Label' from a dropdown in het Multi-Location Zoom table?
- is it doable to make the

[2017-05-02 17:28] hamiltoncj commented on #3
I will check to see what it takes to do a drop down menu.

Dockable is certainly doable, but the dialog is a little large and would take up a lot of space. If I can make it so that by default it is not docked then I can make that change.

What did you have in mind for a default style? I don't particularly want to dictate a style for the user and I am not sure what the best method would be for the

[2017-05-02 18:51] rduivenvoorde commented on #3
Well, default style; I was more thinking like a user (or admin) creates a rulebased or category style based on Label values. So the/my idea is: for example: after adding some points with a Label attribute, I create a qml or sld style for it and save it to disk (including svg/icons needed, labels to show etc) once.
Then in the settings of your plugin I can (optionally) point to that style, and the

[2017-05-04 20:56] hamiltoncj commented on #3
Just as an update. I have made the dialog dockable.  I will look into the other issues tomorrow or early next week. It is easy to apply a .qml style to a vector layer. I just need to decided how I want to implement it.

[2017-05-08 08:37] rduivenvoorde opened #4 "minor issue: not clear what file extension should be when Saving Locations"
This is a minor issue, but as a user I tried to save a list of location (multi location tools), and was presented with as 'Save Lat,Lon File' dialog, which as 'type' showed me: 'Lat,Lon File'

![selection_102](https://cloud.githubusercontent.com/assets/731673/25796538/22512066-33da-11e7-8e0f-d2ba3976402f.png)

Which (peeking into the source code) appears a .csv or .txt file...

I would propose to

[2017-05-08 13:48] hamiltoncj commented on #4
Great suggestion. I have updated GitHub so that the open dialog appears as: "Text, CSV" on Windows it shows as "Text, CSV (*.txt *.csv)". I have also added a drop down option of "All files (*.*)".

For the Save dialog I am using "Text CSV (*.csv)". In looking at LibreOffice that is what they call a CSV file.

I have updated this on GitHub, but I am not quite ready to do a new QGIS release.  If you

[2017-05-08 21:38] hamiltoncj commented on #3
I now allow the user to style the layer that is created.  Right now these changes are in github. I need to do some more testing and update the documentation before publishing it. If you give it a try, you will see a Style layer drop down menu at the bottom of the multi-zoom dialog. With "Default" selected you get a layer just as it has been in the past. With  'Labeled' selected it is the same but

[2017-05-12 12:50] hamiltoncj commented on #4
I am closing this request. I think the latest version addresses this issue.

[2017-05-12 12:50] #4 closed

[2017-05-18 14:11] #3 closed

[2017-05-18 14:13] hamiltoncj opened #5 "Multi-location zoom select multiple entries and delete and display them"
[IDEA ?]
If you make the table (with label and coordinates) in Multi-Location
Zoom multi-line selectable, you can get rid of the 'Show all markers'
checkbox. As you will show all selected rows in the table.
This would also make it possible to remove ALL rows in the table in one
go (using current red trash-button, which currently removes just 1 item
at a time).

[2017-05-18 14:17] hamiltoncj opened #6 "Multi-location zoom add more attributes"
And following up on that, a feature request: what about making it
possible to add even more attributes (I would like to have 3 ;-) )
My use case:
lat,
lon,
label, (which I can either use as label, or miss-use to style it)
data, (in my case a sensor value,)
time, (string)

Or maybe more general:
lat,
lon,
label,
data1,
data2,
data3,

where only lat an lon are mandatory,
first row determines the num

[2017-05-25 16:14] #6 closed

[2017-05-30 06:43] rduivenvoorde opened #7 "2.14 and 2.18 throw exception in 0.9"
RuntimeError: no access to protected functions or signals for objects not created from Python

Traceback (most recent call last):
  File "~/.qgis2/python/plugins/latlontools/multizoom.py", line 114, in geomChanged
    self.resultsTable.horizontalHeader().resizeSections()
RuntimeError: no access to protected functions or signals for objects not created from Python

[2017-05-30 07:39] rduivenvoorde commented on #7
Maybe see: https://github.com/olivierdalang/CadInput/issues/3

And if I comment out the geomChanged connect in line 68, I get another exception when adding a field in settings:

RuntimeError: no access to protected functions or signals for objects not created from Python
Traceback (most recent call last):
  File "/home/richard/.qgis2/python/plugins/latlontools/settings.py", line 178, in accept

[2017-05-30 07:54] rduivenvoorde commented on #7
Not sure if this is a Linux only thingie... I think in my plugins I just resize the last table with something like setStretchLastSection(True).
Instead of
        #self.resultsTable.horizontalHeader().resizeSections()
        self.resultsTable.horizontalHeader().setStretchLastSection(True)
seems to work, though probably not as good as your solution....

Maybe create the resultsTable in python spac

[2017-05-30 09:19] rduivenvoorde commented on #7
in python console:

from qgis.utils import plugins
p=plugins['latlontools']
p.multiZoomDialog.resultsTable.horizontalHeader().resizeSections()

throws exact this error...

looping over columns and doing:
p.multiZoomDialog.resultsTable.horizontalHeader().setResizeMode(COLNR, QHeaderView.Stretch)
works?

[2017-05-30 15:51] hamiltoncj commented on #7
That is a strange error. The computer I am using does not have my full development environment so I can't test the Linux version. Are you saying that

self.resultsTable.horizontalHeader().resizeSections()

always fails or only if I use

self.resultsTable.horizontalHeader().setResizeMode( QHeaderView.Stretch)

and

self.resultsTable.horizontalHeader().setResizeMode( QHeaderView.Interactive)

[2017-05-30 19:46] hamiltoncj commented on #7
I believe I solved the issue.

[2017-05-30 19:48] rduivenvoorde commented on #7
hi, checking :-)

FYI: only with self.resultsTable.horizontalHeader().resizeSections()

[2017-05-30 20:01] hamiltoncj commented on #7
I just uploaded 0.9.1 and I believe I found a simpler solution. Once
approved let me know how it works.

On Tue, May 30, 2017 at 3:48 PM, Richard Duivenvoorde <
notifications@github.com> wrote:

[2017-05-30 20:02] rduivenvoorde commented on #7
yep, error dissappeared.  What about adding adding:

self.resultsTable.horizontalHeader().setStretchLastSection(True) after the setResizeMode lines?

the difference is:

![selection_130](https://cloud.githubusercontent.com/assets/731673/26602405/a8e970aa-4583-11e7-8321-58f4e0a327a3.png)

vs

![selection_131](https://cloud.githubusercontent.com/assets/731673/26602420/af052d12-4583-11e7-9376-dc42c5b

[2017-06-09 20:58] #7 closed

[2017-06-18 19:39] proehlen opened #8 ""Latitude" is misspelled in repo description"
Minor issue maybe but thought I'd log it since I noticed it.

[2017-06-19 11:52] joaoponceleao opened #9 "TypeError"
Getting the following issue in QGIS 2.18.7.
This is on mac, qgis installed via homebrew.
Looked at latlontools/settings.py file but don't see anything wrong there.
Last working version was perhaps 0.7/0.8.

[code]

[2017-06-19 13:53] hamiltoncj commented on #8
Thanks for noticing that.

[2017-06-19 13:53] #8 closed

[2017-06-19 15:57] hamiltoncj commented on #9
I have no idea why you should be getting that error. The issue I face is that I don't have a Mac to test against, but I have put in some checks for NULL cases. What I don't know is how you could have been getting a QPyNullVariant value.

I release version 0.9.2 which I hope will fix this problem.

Let me know if this has fixed the issue.

Thanks for bring this to my attention!!!

[2017-06-19 16:50] joaoponceleao commented on #9
Thanks for the quick response!!!
Its fixed now so I'm closing the issue.
This comes with a caveat for anyone else having this issue though. An upgrade will not take care of the issue. It requires an uninstall and reinstall of the plugin.
Same reinstall tactic did not work before though, so the NULL checks must have helped.

[2017-06-19 16:50] #9 closed

[2017-06-19 18:42] Dgreen604 commented on #5
It's a good idea that solves the issue and adds greater value with the solution.

[2017-06-21 18:03] hamiltoncj opened #10 "Listen to Project CRS change"
Listen to QgsMapCanvas::destinationCrsChanged so that Zoom To Lat Lon can be properly updated.

I think running configure() in ZoomToLatLon will do the trick

[2017-06-21 18:04] hamiltoncj opened #11 "Add project crs coordinates to the multilocation-zoom"

[2017-06-22 00:56] frap129 opened #12 "Stop illegally spying on hundreds of millions of people world wide"

[2017-06-22 18:23] #12 closed

[2017-06-22 18:39] #10 closed

[2017-07-03 15:31] #11 closed

[2017-07-03 15:32] #5 closed

[2017-07-11 16:30] hamiltoncj opened #13 "Multi-location point delete leaves marker showing"
This occurs when Show all markers is checked

[2017-07-12 20:34] #13 closed

[2017-08-23 18:01] hamiltoncj opened #14 "Possibly add Geodesic Measure Tool"
Add a geodesic measure tool that in addition to distance includes starting and ending azimuths.

[2017-10-23 14:27] alexfibrea opened #15 "plugin breaks WMS loading"
with: qgis 1: 2.18.13 + 14stretch

I have a problem with the extension, because I activate it I can not load a WMS (HTTPS) background.

I think it's a worry with pyhton, but have you ever had the case?

[2017-10-23 16:53] hamiltoncj commented on #15
I have not seen any problems with QGIS 2.18.13 with HTTPS WMS services. I just tried this one and it works fine.

https://basemap.nationalmap.gov/arcgis/services/USGSTopo/MapServer/WMSServer?request=GetCapabilities&service=WMS

Could you check to see if there are any error messages from "Plugins->Python Console" or from the error messages by enabling "View->Panels->Log Messages Panel". Lat Lon Too

[2017-10-24 06:18] alexfibrea commented on #15
ok, I only have logs in "WMS"

This is also happening with other extensions

You can close the issue

[2017-10-24 06:18] #15 closed

[2017-11-08 15:02] hamiltoncj commented on #14
Was added to qgis-shapetools-plugin instead

[2017-11-08 15:02] #14 closed

[2018-05-12 06:38] antoniusz opened #16 "Specify CRS error"
Hi,

I've got  this error, when wanted to use the Specify CRS in LatLon Digitize : Add Feature tool

An error has occurred while executing Python code:

TypeError: QgsProjectionSelectionTreeWidget.setOgcWmsCrsFilter(): argument 1 has unexpected type 'str'
Traceback (most recent call last):
  File "/home/toni/.local/share/QGIS/QGIS3/profiles/default/python/plugins/latlontools/digitizer.py", line 20

[2018-05-31 19:15] hamiltoncj commented on #16
@antoniusz I believe I have fixed the problem with version 3.0.14 of the plugin. Sorry I didn't notice this bug report sooner. Let me know if you have any further problems.

[2018-06-05 18:59] #16 closed

[2018-07-21 03:20] nirvn opened #17 "Python error when reloading processing algorithms"
ATM, when the Lat Lon Tools plugin is installed & active, entering the QGIS settings window (to modify settings) and clicking on the [ OK ] button throws the following python error:

[code]

This is because the plugin code tries to add algorithm objects (created in the def __init__(self) function that have been deleted during the processing algorithms' reload process.

To fix this, simply move thi

[2018-07-23 15:54] hamiltoncj commented on #17
@nirvn @nyalldawson Lat Lon Tools 3.0.16 is now available. Please check to see if it solves this problem.

Thanks!!!

[2018-07-24 03:07] nirvn commented on #17
Yep, issue solved. Thanks for the fix @nyalldawson , and the quick reaction @hamiltoncj .

[2018-07-24 03:07] #17 closed

[2018-07-25 10:10] alexmodesto73 opened #19 "feature request : Mapillary external map"
Is it possible to add in the map: Mapillary
on the button open an external card
![image](https://user-images.githubusercontent.com/34935886/43194846-aca850e6-9003-11e8-9d7a-4b046f12d50a.png)

![image](https://user-images.githubusercontent.com/34935886/43194862-bafe19be-9003-11e8-84bb-8d3578566989.png)

[2018-07-27 14:45] hamiltoncj commented on #19
This has been implemented in QGIS 2 version 1.0.3 and QGIS 3 version 3.1.1. Does it meet your needs?

[2018-08-01 09:32] Vitruvius21 opened #20 "Can't add a point in MULTIPOINT layers"
I've written about it [at stackexchange](https://gis.stackexchange.com/questions/289539/lat-lon-digitize-tool-not-working-with-multipoint-in-qgis) and will repeat here as well.

"Lat Lon Digitize" tool doesn't work with **MULTIPOINT**, it works only with **POINT** layers.
Is it a bug?

[2018-08-01 13:10] hamiltoncj commented on #20
Thank you for letting me know. That shouldn't be hard to fix. I will probably have a new update by tomorrow or early next week.

[2018-08-01 14:47] hamiltoncj commented on #20
@Vitruvius21 I think I have fixed the problem. For QGIS 2 the version is 1.1.1 and for QGIS 3 the version is 3.1.2. Let me know if you have any other problems.

[2018-08-03 15:26] #20 closed

[2018-08-23 18:02] hamiltoncj opened #21 "Possibly add interactive bounding box capture"

[2018-08-23 18:04] hamiltoncj opened #22 "Move to Sphinx documentation"

[2018-09-11 04:11] OrenTims opened #23 "Points Digitizing Tool Error to convert"
I have a problem with "points and add features" . Longitude with error.
I trying to add  385733.804N, 951555.739W
Latitude  all is OK!   385733.804N = "38.959390"
Longitude is wrong.   951555.739W = "-951555.739"

◦Degree, Minute, Second:
![lat-long](https://user-images.githubusercontent.com/43161519/45337674-a6a59900-b5a2-11e8-8311-7d782d23a820.JPG)
 385733.804N, 951555.739W (ddmmss.ssss, dddmmss

[2018-09-11 13:34] hamiltoncj commented on #23
@OrenTims Your example case is unique enough that I am able to make an exception for leaving off the first leading 0., but you cannot leave off 2 zeros in the case where there is only one significant degree digit.

I have updated the plugins so you should now see it parsing your example correctly.

[2018-09-11 13:34] #23 closed

[2018-09-12 04:02] OrenTims commented on #23
I updated plagin and it working !
Thank you very much !

[2018-12-06 08:41] fanou77 opened #24 "Copy Latitude, Longitude of the 4 corners of the window"
Hello,

Is it possible to have the same tools like "Copy Latitude, Longitude" but for copy the coordinates of the 4 corners of the active window.

Thanks.
Sorry for my poor English.
Stéphane

[2018-12-06 15:57] hamiltoncj commented on #24
@fanou77 Thank you for your suggestion. I have been thinking about doing something like that. Do you prefer having the coordinates of the active window or would you prefer grabbing the coordinates by clicking and dragging a bounding box with the mouse?

How do you want the output coordinate string formatted? (left, bottom, right, top - or JSON, WKT) What delimiters do you want in between (comma, t

[2018-12-06 16:18] fanou77 commented on #24
Thanks for the answer.

For my personal use, i prefer the active window (but why not the both ;-) )

For example, something like that :+1:   6.18641023132388,48.64369386355367 6.187575100545294,48.64366269046158 6.187607540694417,48.64419493252551 6.186442659643811,48.64422610592086 6.18641023132388,48.64369386355367

Is it possible to add text before and after the coordinate? with french caracter

[2018-12-06 17:07] hamiltoncj commented on #24
@fanou77 For my interest, it is to define the bounding box with two points. This is often the way bounding boxes are specified. It looks like you want the actual rectangle with each point specified. What my thoughts are is to have multiple formats that the user can choose in the Settings. I can add what you want including beginning and ending text.

With my current project and the holiday season,

[2018-12-10 09:30] fanou77 commented on #24
Thanks it will be great.

[2018-12-12 21:10] hamiltoncj commented on #24
@fanou77 I just updated Lat Lon Tools and it now has a canvas bounding box capture tool. You will need to go into the settings menu to specify which format you want captured. This capability is in version 3.1.7. Let me know how it works out for you.

[2018-12-14 11:32] alexmodesto73 commented on #24
I want to be able to paste the data in "Zoom to Lat Lon" is it possible?

[2018-12-19 08:20] fanou77 commented on #24
@hamiltoncj  Thanks for the uptade.

I tried the rectangle format in the BBOX Capture, it works fine but for my interest it's wrong.

I want to have coordinates like this, is it possible ? (x1,y1 x2,y2 x3,y3 x4,x4 x1,y1)
6.105143310104914,48.65685177363942 6.114378535765637,48.656610687756725 6.114629852373521,48.66082963224534 6.105393883010533,48.66107073672025 6.105143310104914,48.6568517736394

[2018-12-19 19:40] hamiltoncj commented on #24
@alexmodesto73

Zoom to Lat Lon just works with a single coordinate, not a bounding box. Is there interested in a bounding box zoom to capability?

[2018-12-19 20:36] hamiltoncj commented on #24
@fanou77

I have added your format as an additional BBOX format in the settings. Just select the one you want. The prefix and suffix work correctly with it. Look for version 3.1.8, but it may take a few minutes for QGIS to update its plugin catalog before it shows up. Let me know if this is what you needed.

Calvin

[2018-12-22 18:00] hamiltoncj commented on #24
Yes I can do that, but it will be sometime in January before I will get back and work on it.

[2019-01-03 17:55] hamiltoncj commented on #24
@fanou77
I have added a prefix and suffix for Copy Latitude and Longitude. It is in Settings and is separate from the BBOX prefix & suffix setting. Let me know if this works for you. The version is 3.1.9. I just uploaded it and it usually take a few minutes before it shows up in the Upgradable plugins in QGIS.

[2019-01-08 14:12] fanou77 commented on #24
@hamiltoncj
Sorry for the delay, i was in holidays.

The plugin works very well, just a last thing for the "copy Lattitude, Longitude" point, I don't need to have space betwen the X and Y coordinates (after the comma), something like  6.11630467715614,48.65469249856784

I think it's possible to modify directly in notepad the copyLatLonTool.py, can you tell me how?

[2019-01-08 14:38] hamiltoncj commented on #24
You don't need to modify anything. Just go into the Lat Lon Tools settings and click on the "Capture & Display" tab. Under "Coordinate Capture Delimiter" select "Other" and then for "Other Delimiter" put a comma. I will probably make the change to have "Comma" and "Comma, Space" as options, but for now you can just use the Other delimiter.

[2019-01-08 14:47] fanou77 commented on #24
@hamiltoncj
Yes :+1:
Thanks you for job, the plugin works well for me :-)

Stéphane

[2019-01-10 11:30] Vitruvius21 opened #25 "Add YX to LatLon converter and vice versa"
I think this is a very needed tool, for instance, when you want to move a point (vertex) to exact coordinates you can do it only changing XY of vertex. But if you have only decimal coordinates (xx.xxxx yy.yyyyy) you need to use external applications to convert them in XY and then to paste them in vertex's XY.

I have a python code for such conversion.

[code]
This works in reverse direction too.
I

[2019-01-10 14:31] hamiltoncj commented on #25
I'm not exactly sure what you are asking for. Are you asking for some dialog box where you can paste in a coordinate in some format and then convert it to another textual format or are you asking to be able to click on an existing point feature and move it to a new location based on a textual coordinate in some format?

[2019-01-10 16:49] Vitruvius21 commented on #25
Both of them are good options. For some, only "converter" will be useful, for some "precise mover" and for others all of them. I can't ask you to do everything (it's your time&energy) but I think these features are missing in QGIS. And users will be pleased to see any or both of them.

[2019-01-11 23:48] hamiltoncj commented on #25
I like your ideas and will try implementing them as I have time.

[2019-01-15 20:00] hamiltoncj commented on #24
@fanou77
I went ahead and added just a single comma as one of the options for the coordinate capture delimiter. I think this solves everything so I am closing the ticket.

[2019-01-15 20:00] #24 closed

[2019-01-16 16:22] fanou77 commented on #24
Thanks.
It's seems that the "Coordinate digitis after decimal for Capture & Display" is not saved after closed and reloaded QGIS.
Ex: if i put 14, after reload QGIS, it's 8
Stéphane

    Le mardi 15 janvier 2019 à 21:00:06 UTC+1, C Hamilton <notifications@github.com> a écrit :

Closed #24.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mut

[2019-01-16 16:55] hamiltoncj commented on #24
Thanks for noticing that. I released 3.1.11 which fixes the issue.

[2019-02-22 10:07] Tjeu opened #26 "Custom CRS for 'Zoom to' not persistent"
When you set a custom CRS for Zoom to it is not remembered when you restart QGIS.
![image](https://user-images.githubusercontent.com/11708371/53235356-ea441900-3691-11e9-9d57-9993fe72141b.png)

[2019-03-01 18:13] hamiltoncj commented on #26
@Tjeu
This has been fixed in Lat Lon Tools version 3.1.12. It might take a few minutes before the plugin repo will show that it is available in QGIS. Let me know if you have any other problems.

[2019-03-01 21:20] Tjeu commented on #26
Thank you for the quick reply.
It seems that it is not working yet. It remembers the custom CRS when I go to settings, but when I start QGIS and open the project it is still like this:
![image](https://user-images.githubusercontent.com/11708371/53667007-06d2e900-3c70-11e9-89fb-2d6b7797a9d6.png)
I thought it might be just the text, but when entering Easting and Northing it is not excepted. Still on

[2019-03-04 15:57] hamiltoncj commented on #26
@Tjeu
I think I have it fixed this time in version 3.1.13. Let me know if you have any other problem.

[2019-03-04 20:40] Tjeu commented on #26
Works like a charm!

[2019-03-08 13:44] jorgealmerio opened #27 "Add Google Earth software as External Map Provider"
Please,

Add Google Earth software as External Map Provider to the settings, so we can use the tool "Show in External Map" to open Google Earth software at clicked place.

[2019-03-08 23:42] #26 closed

[2019-03-11 14:07] hamiltoncj commented on #27
I have a potential solution to this, but am checking with Mac and Linux users to make sure it will work or not. Do you use Windows?

[2019-03-11 16:36] jorgealmerio commented on #27
Yes, I use Windows!

[2019-03-12 13:21] hamiltoncj commented on #27
I have this scheduled to work on next week.

[2019-03-13 12:16] jorgealmerio commented on #27
Good news,

I have adapted (and ported to Qgis 3) the code from send2google_earth plugin (for Qgis 2).
The code is a little dirty, but  maybe it be useful for your reference. See attachment (it's a python file).

[send2google_earthtool.txt](https://github.com/NationalSecurityAgency/qgis-latlontools-plugin/files/2961385/send2google_earthtool.txt)

[2019-03-13 13:50] hamiltoncj commented on #27
Thanks! That is helpful. I am looking at these two calls

import os
import webbrowser
os.startfile('path to kml file')
webbrowser.open('path to kml file')

If you  have some time try them in the QGIS python console to make sure they work. The first seems to be a windows only call. The second is making use of your default web browser to know how to handle the data. My biggest concern is to make thi

[2019-03-15 12:01] jorgealmerio commented on #27
I can not check on Linux and Mac, but I checked on Windows and both worked like a charm!!

Sorry for the delay!

[2019-03-15 16:20] hamiltoncj commented on #27
I had some time today and added this feature. It is in version 3.1.15. Let me know how it works.

[2019-03-15 17:58] jorgealmerio commented on #27
Yes, It works!
Thank you!
Good Job!

If you want to improve it more, you could place a temporary marker on Qgis too (remove after tool is deativated), I did it by adding a Rubber:

I also was trying to place a incremental temporary label beside each marker in Qgis without success.

[2019-03-29 20:15] hamiltoncj commented on #27
I debated on this last request. Not everyone wants a marker so I decided to make it as an option in Settings. I am leaving it off by default, but if you go into Plugins->Lat Lon Tools->Settings and click on the External Map tab. Enable "Show marker on QGIS map" and then click on "OK". You will now see a marker where ever you click on the map. The setting will be persistent after you quite QGIS and

[2019-03-29 20:19] #22 closed

[2019-03-29 20:46] jorgealmerio commented on #27
Checked here !!!
Very Good job !!!
We can close this issue if you want.

[2019-04-01 17:45] #27 closed

[2019-04-08 08:22] VIRG2019 opened #28 "Add ability to input MGRS under multi location zoom"
Working with QGIS, I have been trying to find an open-source plugin that is as close to Geo Rover Locus Track, and Lat Lon Tools is very similar, except that I primarily work with MGRS coordinates. Being able to add MGRS coordinates in Multi Location Zoom would significantly enhance workload efficiency.

[2019-04-08 18:42] hamiltoncj commented on #28
@VIRG2019
I updated Lat Lon Tools (3.1.17) to include MGRS and Plus Codes in the multi zoom enter coordinate text box. The MGRS coordinate will not be displayed in MGRS format as it will be converted to a latitude and longitude. Hopefully this will help you out.

To select MGRS input go to Settings and the Multi-zoom tab. Under "CRS/Projection of input coordinates" select MGRS. Let me know how thi

[2019-04-09 08:02] VIRG2019 commented on #28
@hamiltoncj
I was able to download, install and switch the CRS to "MGRS" under the Multi-zoom tab. However, When inputting MGRS it still said the coordinates were invalid. Of note, it stated: "invalid coordinate" when inputting the MGRS as, for example, 41SPU1234512345. If any spaces were added or any other type of MGRS format was used it gave the error: "Invalid coordinate. Perhaps Comma separato

[2019-04-09 18:33] hamiltoncj commented on #28
Sorry about that. I had it working and then added plus code support and broke the MGRS input. I have updated the plugin repo with version 3.1.18. It might take a few minutes for qgis.org to update their files so that it reports this version is available. Let me know if that fixes the problem.

[2019-04-10 15:59] VIRG2019 commented on #28
Problem fixed! Thank you for the quick turn around on updating and subsequently fixing the plugin. Everything works as intended.

[2019-04-10 17:38] #28 closed

[2019-05-20 13:00] alexmodesto73 opened #31 "error after upgrade"
Impossible de charger l'extension 'latlontools' provoque une erreur lors de l'appel à sa méthode classFactory()

SyntaxError: invalid syntax
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/qgis/utils.py", line 335, in startPlugin
    plugins[packageName] = package.classFactory(iface)
  File "/home/alex/.local/share/QGIS/QGIS3/profiles/Alex/python/plugins/latlontools/__ini

[2019-05-20 13:41] hamiltoncj commented on #31
I thought everyone was using at least Python 3.6. That syntax was introduced in 3.6. I guess I can go back and use the .format() syntax. I'm sure it will work with QGIS 3.6.x, but I will go back and redo the string formatting so that it will work with older versions of QGIS.

[2019-05-20 14:53] hamiltoncj commented on #31
@alexmodesto73
I changed the Python 3.6 string formatting back to work with older versions of python. I pushed out a new Lat Lon Tools version 3.2.2. It should be available to you shortly. Let me know if you find any other problems.

[2019-05-20 15:08] alexmodesto73 commented on #31
it works !

[2019-05-20 15:08] #31 closed

[2019-05-21 14:33] protatg opened #32 "Custom CRS for 'Capture & Display' and for 'Multi-zoom' not persistent"
The setting for a custom CRS in above mentioned areas are not persistent. Probably the same as with issue #26

[2019-05-21 14:50] hamiltoncj commented on #32
@protatg
Thank you for your input and yes you are correct. I will add persistence to these as well although I am currently working on another project so it might take me several days before I get to this. Hopefully, I will have it done by the end of the week.

[2019-05-24 15:37] hamiltoncj commented on #32
@protatg
I put out release 3.3.0. The CRS is now persistent for Multi-zoom and the coordinate capture. Please test it to make sure it works the way you want it to.

[2019-05-24 15:39] hamiltoncj commented on #25
@Vitruvius21
Today I put out Lat Lon Tools 3.3.0. It now has a 'Coordinate Conversion' tool. Any feedback would be appreciated.

[2019-05-24 17:29] Vitruvius21 commented on #25
@hamiltoncj thank you! It is awesome. The converter is even more advanced than I expected.

[2019-05-28 05:53] protatg commented on #32
Perfect. It works exactly as we need it. Thank you so much!

[2019-05-28 18:40] #32 closed

[2019-05-28 18:40] #25 closed

[2019-08-07 08:24] simo78 opened #33 "Add support for snapping"
It seems that the plugin does not support snapping, even though enabled via "Project > Snapping Options" menu. Please consider adding support for snapping.

[2019-08-08 15:11] hamiltoncj commented on #33
@simo78
Are you suggesting this for the Lat Lon Digitize tool? That seems to be the only capability that would make sense to have snapping added to. If there is something else please explain how you would like it to work.

[2019-08-08 17:10] simo78 commented on #33
My apologies for giving you somewhat vague details on this feature request.

The issue is related to "Copy Latitude, Longitude" tool. For example, I would like to get exact coordinates of a vertex, but without snapping it is difficult to get exact coordinates of a vertex (mouse pointer could easily be 1 pixel off the vertex). Another need is to get coordinates of the location where two polygon seg

[2019-08-09 19:26] hamiltoncj commented on #33
Thanks for that information. This seems like a useful function so I will take a look at what it will take to implement it next week. I don't know if the QGIS snapping includes intersection points where polygons intersect, but I will investigate it.

[2019-08-15 18:06] hamiltoncj commented on #33
I wanted to let you know that I am working on this request. I currently have it working, but want to give the user more feedback that it has locked onto a point so I am going to complete that part before I do a new release which may be sometime next week.

[2019-08-15 20:42] hamiltoncj commented on #33
@simo78
That took less time than I thought. This feature has been implemented in version 3.3.3. It may take a few minutes before QGIS will report that a new version is there. Please let me know what you think.

[2019-08-16 09:30] ciaranevans opened #34 "Python Error when clicking with Copy Latitude, Longitude"
Hi there,

I'm currently using the tool and have set the output to be MGRS.

When I click on the canvas I receive the following Python Error:

[code]

[2019-08-16 13:57] hamiltoncj commented on #34
@ciaranevans
Sorry about that. I deleted version 3.3.3 from the QGIS repository and just pushed out version 3.3.4. It may take up to a half an hour before QGIS will report that it is there, but this problem should now be fixed. Let me know if you see any other issues.

Thanks!

[2019-08-16 13:57] hamiltoncj commented on #33
@simo78
I introduced a bug into version 3.3.3 so I fixed it and have now pushed out 3.3.4.

[2019-08-16 15:23] simo78 commented on #33
I have tested the snapping feature on the "Copy Latitude, Longitude" tool. It seems to work perfectly, both on a vertex and also on polygon intersections. I believe you can close this issue. Your effort on this plugin is highly appreciated!

[2019-08-16 18:04] #33 closed

[2019-08-16 18:08] hamiltoncj commented on #34
Given that others have successfully used the fixed version and having tested this problem myself, I think it has been solved with version 3.3.4 so I am closing the ticket. If you find any other problem or have a suggestion please let me know because it helps to make the plugin even more useful to the community.

[2019-08-16 18:08] #34 closed

[2019-08-26 18:27] hamiltoncj opened #35 "Convert Layer Extents to WGS84"
Select a layer  (vector or raster) and have the extent converted to wgs84  decimal degree coordinates, since most metadata creation software requires the input  to be in geographic coordinates.

[2019-09-12 14:27] alexmodesto73 opened #36 "Feature request : multiples buttons external map"
Is it possible to have two buttons to open external links?

Example:
Button 1: google maps
Button 2: mapillary

objective open one or the other, depending on the coverage

[2019-09-13 17:00] hamiltoncj commented on #36
I guess I could consider having the left mouse open up one and the right mouse another. Is that what you are thinking of? Would that work?

[2019-09-13 18:50] alexmodesto73 commented on #36
Good idea !

[2019-09-27 14:22] alexmodesto73 opened #37 "Zoom To - Zoom level"
Zoom To

Is it possible to have a choice on the zoom level?

1) Paste coordinates
2) Zoom to 1:5000

[2019-09-27 20:22] hamiltoncj commented on #37
The Zoom To does not change the zoom level. There is already that capability with the scale drop down that is in QGIS. I don't really want to replicate an existing capability.

[2019-10-09 18:06] alexmodesto73 opened #38 "Open ID OSM Editor"
add an optional button
to open the OSM online editor

ex:
https://preview.ideditor.com/master/#6map=18.00/-6.17730/39.19930&background=fr.ign.bdortho&disable_features=boundaries&id=n5189512929&map=14.90/45.5183/6.5846&overlays=BANO&photo_overlay=mapillary-map-features

[2019-10-09 18:55] hamiltoncj commented on #38
That is a good idea. I will try to add it next week.

[2019-10-16 18:54] hamiltoncj commented on #38
I have added two iD maps as well as have the left and right mouse buttons select different maps. Go to the Settings window to configure how you want these to work. Let me know if this works as expected. The new version of software is 3.3.7. It may take a few minutes to propigate through the system before it is discoverable.

[2019-10-16 18:55] hamiltoncj commented on #36
I have made the left and right mouse buttons select different maps. Go to the Settings window to configure how you want these to work. Let me know if this works as expected. The new version of software is 3.3.7. It may take a few minutes to propagate through the system before it is discoverable.

[2019-10-16 18:57] hamiltoncj commented on #37
Because QGIS already has a method of doing this I am not planning on adding this capability and am going to close the ticket.

[2019-10-16 18:57] #37 closed

[2019-11-04 16:22] hamiltoncj commented on #38
I believe I solved this issue so I am going to close the ticket.

[2019-11-04 16:22] #38 closed

[2019-11-04 16:23] hamiltoncj commented on #36
I believe I fulfilled this feature request so I am going to close this ticket.

[2019-11-04 16:23] #36 closed

[2019-11-06 09:34] alexmodesto73 opened #39 "feature request : paste lat/lon into control + K window"
Suggestion:

Rather than having a panel: zoom to latlon
Would not it be possible to have a regexp in Control + K to detect a geo: lat / lon position?

![image](https://user-images.githubusercontent.com/34935886/68286224-056c8280-0081-11ea-87ca-d0031573cfef.png)

[2019-11-06 09:38] alexmodesto73 opened #40 "feature request : shortcut capture gps"
Rather than clicking the Copy Coordinates button.

Is it possible to assign a keyboard shortcut?

scenario:
Key pressed (keyboard shortcut)

=> enable the coordinate copy feature
=> click
=> finished, coordinated in the clipboard

[2019-11-06 16:24] hamiltoncj commented on #39
You certainly have some great ideas and I am sure this could be done. I don't know how much work this would be, but I will at least investigate it and see if I would have the time to do it.

[2019-11-12 19:14] hamiltoncj commented on #40
@alexmodesto73
If you go to "Settings->Keyboard shortcuts..." you can search for "Copy/Display Coordiate" and then assign a keyboard shortcut to it. Now by typing that key it will automatically allow the copying of a coordinate to the clipboard. It is best to use what QGIS already has. Is this what you needed or were you thinking of something more?

[2019-11-12 21:11] alexmodesto73 commented on #40
thanks for the tip! I closed the issue

[2019-11-12 21:11] #40 closed

[2019-11-21 15:12] hamiltoncj commented on #39
This will not give the flexibility that you get with a separate panel and I think it requires a designator to specify that you are entering a coordinate something like 'g 45.5555, 6.2619' or 'utm 15S 525698.27 13717565.00'. I think this would need to be a separate ability and not a replacement for the zoom to dialog box. Personally I would not want to enter an extra character with a coordinate. Un

[2020-05-20 23:17] spaceof7 opened #44 "Feature Request: ability to add custom external web map providers"
I've modified the mapProviders.py file to add some web maps that we commonly use, but Id love a simpler way to add map providers so that our less tech savvy users can add some of the maps they want to use.

[2020-05-21 15:24] hamiltoncj commented on #44
@spaceof7
How would you like to see this work?

[2020-05-21 16:08] spaceof7 commented on #44
I hadnt thought about that in too much detail.  I vaguely recall a 2.x plugin(Qgis Web Connector) where you could enter the URL with placeholder for lat,lon and zoom in a text box, very similar to the strings used in mapProviders.py.

for instance:
If I wanted to add King County, WA's iMap i can use [ArcGIS Online's URL parameters](https://doc.arcgis.com/en/arcgis-online/reference/use-url-paramete

[2020-05-26 16:53] hamiltoncj commented on #44
@spaceof7 I am only working part time during COVID so it is taking more time than usual, but I plan on working on this request. I think it will be a good addition. Thanks for suggesting it.

[2020-06-03 12:40] alexmodesto73 opened #45 "Feature Request : Qgis URL"
Hello,

A silly idea:

Have a type url:
latlong: //45.157558, 6.151008

Who opens QGIS and focuses on the position

This could be used in emails, wiki etc.
To make life easier for people who have to look at a geographic location.

[2020-06-03 21:34] hamiltoncj commented on #45
It sounds like a cool idea, but I have no clue on how to implement the interaction between a web browser or e-mail client to launch QGIS and display the location.

[2020-06-04 06:23] alexmodesto73 commented on #45
Slack or zoom applications seem to be able to open a url

example: https://community.brave.com/t/xdg-open-error-when-trying-to-open-external-apps/115100

[2020-06-04 18:32] hamiltoncj commented on #44
@spaceof7
I added Lat Lon Tools version 3.3.19. I had the ability to add personal map URLs. I changed how I specify the URL so that it uses {lat}, {lon}, and {zoom}. The URL you listed can be input as is.

Let me know what you think and whether you encounter any problems.

[2020-06-04 18:43] spaceof7 commented on #44
Thanks for adding this feature.  Ive been focused on other work but Ill try to get some time today or tomorrow to test this out.

[2020-06-06 01:30] spaceof7 commented on #44
Ive tested it out with a few different maps and its working  really well.  Thanks for adding the feature, it will really make my users happy!

[2020-06-06 01:30] #44 closed

[2020-06-18 05:43] protatg opened #46 "Copy coordinate is WGS 84 by default"
Hello,

The coordinate system of the 'Copy/Display Coordinate' Tool is always WGS 84 when first used. After opening and closing the settings without doing any changes it works fine with the project crs.

Also the settings of 'Multi-zoom', 'BBOX Capture' and the 'Converter' are not persistent again and a phyton error occurs when opening the settings.

[2020-06-18 14:29] hamiltoncj commented on #46
This sounds like a problem with your system rather than Lat Lon Tools. Can you tell me what OS you are running, version of QGIS, and are you using the latest Lat Lon Tools?

[2020-06-19 09:55] protatg commented on #46
I checked again with the LTR QGIS 3.10.6 and Lat Lon Tools 3.3.19. Only if in the 'Capture' settings a Custom CRS is defined it copies WGS 84 coordinate values to the clipboard when first used. With a Project CRS setting it works well.

The non-persistent settings and the python error are problems of my installation.

[2020-06-19 16:42] hamiltoncj commented on #46
I was able to replicate the problem and I will work on a fix. Thanks for reporting this.

[2020-06-19 17:45] hamiltoncj commented on #46
I have released version 3.3.20 which has the fix for this bug. Let me know if you have any other issues.

Thanks!

[2020-06-22 08:26] protatg commented on #46
It works fine. Thank you

[2020-06-22 16:00] #46 closed

[2020-07-14 07:23] inouterer opened #47 "DMS format"
Hello!
What format should the DMS coordinates be in? I try to convert fields to points without success.
Point1        70 20 42.13        68 51 28.8

[2020-07-15 17:24] hamiltoncj commented on #47
@inouterer
Lat Lon Tools documentation gives examples of how DMS strings should be formatted. The number string you are using, cannot be turned into coordinates without some additional information.  For example, adding N,S,E,W to each coordinate would fix the problem, but there are other ways to format them as well. It depends on what you are trying to do.

[2020-07-31 19:33] hamiltoncj commented on #47
Closing ticket due to inactivity.

[2020-07-31 19:33] #47 closed

[2020-08-05 13:28] alexmodesto73 opened #48 "Google "Geo format""
Hi,

for the tool :
![image](https://user-images.githubusercontent.com/34935886/89418456-5dc7d200-d730-11ea-9070-c9f00cc12301.png)

It's possible to include google geoformat ?

Exemple :

https://goo.gl/maps/z1X5oPEM4pZUoorA8

**F2HJ+C7 Porte-de-Savoie**

![image](https://user-images.githubusercontent.com/34935886/89418396-4a1c6b80-d730-11ea-9001-24163c0a5451.png)

[2020-08-05 18:36] hamiltoncj commented on #48
That is the Plus Codes format and Lat Lon Tools supports the full code which for this location is 8FQ8F2HJ+C8. It used to that Google would use the full code on their map pages, but now they are using a shortened version which also requires a city name. In this case the code requires the entire string "F2HJ+C8 Porte-de-Savoie". I will relook at their library to see if it has a set of cities or not

[2020-08-09 11:44] klakar opened #49 "Include functions for expression builder"
Would it be possible to include a set of functions for the expression builder based on the LatLonTools calculations?

Example:
MGRS functions to extract GZD and bigram etc for use in layouts.

Code for some MGRS functions as example (should be saved as python/expressions/latlontools.py):
[latlontools.txt](https://github.com/NationalSecurityAgency/qgis-latlontools-plugin/files/5047432/latlontools.t

[2020-08-10 15:35] hamiltoncj commented on #49
@klakar Thank  you for your nice comments. I like your idea and will make it my next project. It may take several weeks to get started because I am currently working on another project.

[2020-09-08 20:03] hamiltoncj commented on #49
@klakar Sorry it has taken so long to get to this. I had other projects I was working on. Thank you for the examples and I just wanted to let you know I am starting this project. Are there any other functions that you think would be nice to include. I will do an initial release with just the MGRS coordinates and then will work on all the other different coordinate conversions. I should have an ini

[2020-09-08 22:53] miet-t opened #50 "external map settings error"
Can't define additional external map providers - error message appears during openning settings form:
"File "C:/Users/xxx/AppData/Roaming/QGIS/QGIS3\profiles\default/python/plugins\latlontools\settings.py", line 552, in showEvent for item in settings.userMapProviders: TypeError: 'NoneType' object is not iterable".
Built-in map providers list is empty.

plugin version 3.3.22,
QGIS 3.10.9 x64,
Windo

[2020-09-09 05:30] klakar commented on #49
Fantastic, looking forward to it.

[2020-09-09 11:33] hamiltoncj commented on #50
Thanks for noticing that. I just deleted that new release until I figure out how I introduced that bug and fix it. Hopefully by the end of today I will have a fix.

[2020-09-09 15:11] hamiltoncj commented on #49
@klakar I just released 3.4.0 of lat lon tools. It might take a few minutes to propagate so that it shows up  as a new version. At this point I am not really advertising that the functions are there and would like you to test them. You will find them under 'Lat Lon Tools'. I renamed some of them. Here are the names: mgrs, mgrs_gzd, mgrs_ups, mgrs_east, mgrs_north.

The first 3 characters are the g

[2020-09-09 15:13] hamiltoncj commented on #50
I just put up lat lon tools 3.4.0. It may take a few minutes for it to show up as a new release. I think this problem has been fixed. Let me know if you find any other issues.

[2020-09-09 16:42] klakar commented on #49
Tested it and it looks great.
For mgrs it would be useful with a function for the 100 km grid square ID letters, characters number 4 and 5. (We call them "bigram" in Sweden)
I'm not sure what would be an appropriate name for a function for those in English.

All seems to work and it will be really useful, but it will be a lot of code in the expressions to generate the required latitude and longitu

[2020-09-09 16:54] klakar commented on #49
I just noted in 3.4.0 that the _mgrs_ups()_ function gives a result even outside the pole areas. It should not be any results between 80 deg south and 84 deg north.

Also checked on Wikipedia (https://en.wikipedia.org/wiki/Military_Grid_Reference_System) and one reference to the 100km grid square id is "AA scheme", so just simply _mgrs_AA()_ could be an option for the function name for that.

[2020-09-09 19:12] miet-t commented on #50
Yes, it works fine now. Great job, thanks.

As suggestion for improvement: it would be nice to have option for MGRS precision (1m/10m/100m/1km/10km) in Capture and Coordinate Conversion.

[2020-09-09 19:12] #50 closed

[2020-09-10 17:20] hamiltoncj commented on #49
@klakar  Here is one of the documents I have been looking at for MGRS.

https://earth-info.nga.mil/GandG/coordsys/grids/mgrs.doc

I will change the functions to work properly with the 80 deg south and 84 deg north boundaries. It appears to me the the grid zone in the polar regions becomes 1 character (A,B,Y,Z). So grid zone seems to be valid in the polar regions, but utm is not. I will add a UTM z

[2020-09-10 19:17] klakar commented on #49
Great job!

I think _mgrs_100k()_ is a great name that won't be mistaken. I also hope the very clear help text for the reversed y and x order don't confuse anyone, might need to keep an eye on that one. (Damn those navy folks, switching x and y around like that.)

Yes, the mgrs.doc is correct, and I think you misinterpreted the _(or UPS)_ part as "that is its name". The document talks about _100'0

[2020-09-10 19:28] klakar commented on #49
When I read more about the specifics on UTM and UPS, UTM actually don't exist north of 84 degree and south of 80. The combination of UTM and UPS is a package for world coverage in a uniform projected system.
So even an UTM function should not have any values in the UPS areas, and vice versa.

[2020-09-11 15:23] hamiltoncj commented on #49
Thanks for all of your assistance. I updated the QGIS repo with version 3.4.1. I added in an mgrs_to_point function to create a point geometry. I removed the UTM function, but plan on doing a suite of UTM functions along with all the other formats Lat Lon Tools supports. If there are any other changes you think I should make please let me know and I will work on them next week.

[2020-09-12 07:59] klakar commented on #49
Works great, and now the only requirement for MGRS map layouts are the Lat Lon Tools plugin.
Find a template example at http://qgis-hub.fast-page.org/layouts.php
![Screenshot-20200912093843-726x878](https://user-images.githubusercontent.com/6375959/92990392-6ef8c100-f4dc-11ea-8434-bd07171eadfd.jpg)

[2020-09-24 18:09] #49 closed

[2020-10-07 17:22] hamiltoncj commented on #39
I'm going to close this feature request, because this does not have the functionality that the core lat lon tools zoom tool provides and is not what I want to do with the plugin, but thanks for the suggestion.

[2020-10-07 17:22] #39 closed

[2020-10-07 18:58] hamiltoncj commented on #48
@alexmodesto73  Sorry it has taken so long to get back to you on this. COVID caused other priorities.  Unfortunately, using the Plus Code (Open Location Code) on something like "F2HJ+C8 Porte-de-Savoie" requires a geocoder to decode the "Porte-de-Savoie" portion of the address which is used as an approximate location for the rest of shortened "F2HJ+C8" Plus Code. I really can't implement geocoding

[2020-10-07 19:11] hamiltoncj commented on #45
I am going to close this enhancement request because it is beyond the scope of the lat lon tools plugin and is beyond what I am asked to do.

[2020-10-07 19:11] #45 closed

[2020-10-20 14:27] jipexu opened #51 "copy to clipboard = corrupted data?"
Hi
When i use the copy to clipboard command of the conversion menu they are some invisible characters (at the front of lat and long coord) who are also copied !?

On my mac i use copy to clipboard => paste on  a filemaker db field=> export for mysql => (when checking the db on phpmyadmin i can see those character as ? or ?? at the front of lat and long coord)

at the end this break the js of my (o

[2020-10-20 14:35] hamiltoncj commented on #51
@jipexu
There shouldn't be any extra characters. Can you tell me what your settings are when you do the copy? I will investigate to see what is going on.

[2020-10-20 14:40] hamiltoncj commented on #51
@jipexu
In the Lat Lon Tool capture settings, there is a field for a prefix and suffix. Can you verify that those fields have no characters in them?

[2020-10-20 14:46] jipexu commented on #51
ok let me check ..

[2020-10-20 14:51] jipexu commented on #51
<img width="752" alt="Capture d’écran 2020-10-20 à 16 46 43" src="https://user-images.githubusercontent.com/328101/96603488-59a15e80-12f4-11eb-8488-3d089c8a5c41.png">

[2020-10-20 15:04] hamiltoncj commented on #51
@jipexu
I was thinking you were using the Capture capability and not the converter. Can you tell me which copy function you are using or does it happen when all of them?

[2020-10-20 15:08] jipexu commented on #51
i use the first one (decimal degree) if i use the bouton or directly from my computer ii got those

[2020-10-20 16:19] hamiltoncj commented on #51
I am having a hard time replicating this behavior, but I am on a Windows 10 OS. What version of QGIS are you using and what version of Lat Lon Tools? This may be a mac QGIS issue. Could you check some of the other coordinates to see if does the same thing. Also check to see if the "Copy/Display Coordinate" does the same thing or not. One thing I could try is to include a strip white space from the

[2020-10-20 16:45] jipexu commented on #51
i use QGIS 3.14 and the last version of the pluggin ... yes it is very strange i will try to test but not easy to know if it is or not invisible char ... because i see them only when they arrive in my mysql db ...
so probably is a only mac issue ?..?

[2020-10-28 10:30] AlexanderFinkbeiner opened #52 "[Digitizer] Feature Attributes UI is missing default values which are configured in Layer Properties->Attributes Form"
Reproduction steps:
1. Add a default value at Layer properties->Attributes Form->Defaults
![image](https://user-images.githubusercontent.com/22540563/97423104-0b511880-190f-11eb-945f-0239926bb5fb.png)
2. Use "Lat Long Digitize" to add a feature and enter the coordinates
3. At the attribute form the default value is not set:
![image](https://user-images.githubusercontent.com/22540563/97423509-a0eca

[2020-10-29 12:27] hamiltoncj commented on #52
That is a great question which I don't have an answer to at the moment. Apparently there must be something more to it than just calling openFeatureForm. I will put in a little bit of time to see if I can find an answer.

[2020-10-30 06:13] AlexanderFinkbeiner commented on #52
Thanks, I will also have a second look at the QGIS repo, maybe I can find the difference.

[2020-10-30 08:57] AlexanderFinkbeiner commented on #52
I'm quite new to QGIS but I guess this will help us?! https://github.com/qgis/QGIS/blob/b5178d98537613a5110366e9bcae49d96e9cd9ad/src/app/qgsfeatureaction.cpp#L168

[2020-11-11 06:46] SuKaltenbach commented on #52
I have the same issue at my project. Im really new to programming but is there a way to help fix this?

[2020-11-12 14:35] hamiltoncj commented on #52
I have not found the answer to this question yet. I just posted the question to the QGIS developers group. Hopefully, someone will respond.

[2020-11-20 09:56] rduivenvoorde opened #53 "UI: current active tab is not remembered during session?"
During writing a little handout and writing about using the settings for latlon tools, it appeared to me that it does not remember the latest used tab in the settings, it always opens on 'Zoom to'.

![Screenshot-20201120105638-568x275](https://user-images.githubusercontent.com/731673/99786690-161e5800-2b1f-11eb-8609-c0957d3a17e5.png)

If I just changed something in the Capture tab, and after testi

[2020-11-20 09:59] rduivenvoorde commented on #53
Another thing... are most users not used to using LonLat/XY so NOT the Google YX version which is now the default when you install the plugin?

[2020-11-20 10:48] rduivenvoorde commented on #53
Ah, wait, it is more subtle: if you use (of course) the little 'wrench' icon in the Zoom to Coordinate panel, then you open on Zoom to tab. But... that is the easiest way to open the Settings....
Anybody in favour of also adding the settings button on the main toolbar (and THERE then remember the last used tab)?
Or is this just overkill?

[2020-11-20 15:27] hamiltoncj commented on #53
@rduivenvoorde
Originally when Lat Lon Tools was developed it was to support coordinates for Google maps, but it has since grown to be much more so I respect your recommendation to have it launch by default with XY rather than YX. Is that best for your users?

I am also fine with adding the settings button to the main toolbar. I have contemplated doing that in the past and it can be easily done. T

[2020-11-20 20:01] hamiltoncj commented on #53
Richard, I am going to keep the default YX, lat/lon order, but I have added the settings icon to the toolbar. I also realized that I was using two different settings icons and made them all the same. Clicking the Settings icon from the toolbar will remember which tab you were last on. I have released Lat Lon Tools 3.4.5 with this change.

[2020-11-21 08:35] rduivenvoorde commented on #53
@hamiltoncj Thanks! Fine with me, I already put it in my handouts: "DO NOT forget to change coord order" :-)

[2020-11-21 08:35] #53 closed

[2020-11-21 09:56] rduivenvoorde commented on #52
@hamiltoncj I'm trying to debug this, and also tried to use
[code]
instead of
[code]
but my debugging skills and environment are a little sketchy on the moment.
I would create a tiny dataset, and create a QGIS issue, because I think that is what it is.... (while debugging it looked like I passes some sip-exception, but I could not tell from it what went wrong, probably a coredev with better debug

[2020-11-21 16:30] AlexanderFinkbeiner commented on #52
Thanks for having a look at it! Then let's hope a core developer could shine some light on this.

[2020-11-23 10:53] rduivenvoorde commented on #52
See https://github.com/qgis/QGIS/issues/40213
This works:

[code]

[2020-11-23 18:09] hamiltoncj commented on #52
@rduivenvoorde Thank you so much for finding the solution. I had no idea that there was a separate feature creation function. I released version 3.4.6 that has addressed this request. It seems to work for me. Let me know if it satisfies this issue.

[2020-11-24 06:21] AlexanderFinkbeiner commented on #52
Yes now it is working! Thanks for updating it so quickly!

[2020-11-24 06:21] #52 closed

[2020-12-11 16:03] Apis49 opened #55 "External Map"
Can you add custom CRS selection of type of coordinates that are added to additional externel map provider through {lat} and {lon} I need this to be in GKY and GKX (EPSG:3912).

Thank you.

[2020-12-11 19:00] hamiltoncj commented on #55
That sounds like a good idea. It might take me a little while because of vacation and other projects before I can work on it, but I will try to get it added.

[2020-12-11 19:12] hamiltoncj commented on #48
Closing because it requires an external geocoder in order to implement.

[2020-12-11 19:12] #48 closed

[2020-12-11 19:14] #51 closed

[2020-12-11 19:53] Apis49 commented on #55
Thank you very much for response. Sorry for my bad English. Great plug in.

Regards, Matej

V pet., 11. dec. 2020 20:01 je oseba C Hamilton <notifications@github.com>
napisala:

[2020-12-15 21:49] hamiltoncj commented on #35
Completed in Lat Lon Tools 3.5.0

[2020-12-15 21:49] #35 closed

[2020-12-15 21:50] hamiltoncj commented on #21
Completed with Lat Lon Tools 3.5.0

[2020-12-15 21:50] #21 closed

[2021-02-08 18:20] hamiltoncj opened #56 "Clarify the definition of UTM and add additional UTM MGRS Grid Zone Conversions"
This site https://www.maptools.com/tutorials/utm/quick_guide doesn't make it completely obvious that they are talking about MGRS.  Moreover it makes demonstrably false claims like

The 10S is the Grid Zone Designation you are in. The Grid Zone is necessary to make the coordinates unique over the entire globe.

This site https://www.spatialreference.org/ref/epsg/wgs-84-utm-zone-10s/ makes the use o

[2021-02-18 17:10] rduivenvoorde opened #57 "Geopackage with id field throws "Feature xxxx for attribute update not found""
While demonstrating (online) the lat lon plugins (latest version: 3.5.0 in latest QGIS (master/3.18)) we both on different machines/os's got the same error:

2021-02-18T18:02:53     CRITICAL    Layer cc : Feature -9223372036854775808 for attribute update not found.

![Screenshot-20210218180047-842x332](https://user-images.githubusercontent.com/731673/108393204-b9146a00-7213-11eb-8309-f213f78d9336.

[2021-02-18 19:14] rduivenvoorde commented on #57
Follow up: I cannot reproduce it in QGIS itself (without Lat Lon), so I think it has something todo with maybe not rightly initializing the geopackage layer?

[2021-02-19 18:37] hamiltoncj commented on #57
Richard,

I was able to reproduce the problem though I am not sure what is going on. I will look into it next week. I appreciate the detailed instructions on how to replicate the problem.

Thanks!

[2021-02-24 15:13] hamiltoncj commented on #57
@rduivenvoorde
Richard,

This goes back to an earlier problem I had with iface.openFeatureForm and having to create the feature with QgsVectorLayerUtils.createFeature. We had an earlier exchange on the developers group because of needing to use createFeature rather than the normal method of creating features. Here is the code that does this.

geom = QgsGeometry.fromPointXY(QgsPointXY(x, y))
feat =

[2021-03-30 12:43] ianengelbrecht opened #58 "Paste button please"
This is a great tool and central our georeferencing workflow here at the [NSCF.](nscf.org.za) It would be amazing if you could add a little paste button to the Zoom to Coordinates tool, just to save us the trouble of pressing Ctrl+V each time :-P This is of course a feature request and not an issue.

[2021-03-30 16:08] hamiltoncj commented on #58
@ianengelbrecht  That was a great idea. I have released Lat Lon Tools version 3.5.2 with this implemented. Let me know if this works for your needs.

[2021-03-31 09:48] ianengelbrecht commented on #58
Works like charm, greatly appreciated!

[2021-03-31 14:41] #58 closed

[2021-07-02 15:06] agiudiceandrea opened #59 "Expose PlusCode functions to Field Caclulator / Espression Builder"
Let the PlusCode functions be available in the Field Caclulator / Espression Builder.

[2021-07-02 16:09] hamiltoncj commented on #59
Thank you for your suggestion. It will be fairly easy to enable the functions in the field calculator so I will put this on my to-do list although it may be several weeks before I have the time to get to it.

[2021-07-06 16:03] hamiltoncj commented on #59
@agiudiceandrea  I released Lat Lon Tools 3.5.5. I have added two field calculator functions; to_pluscode and from_pluscode. Let me know if that completes this ticket.

[2021-07-06 21:56] agiudiceandrea commented on #59
@hamiltoncj why this GitHub repository is outdated? The latest release available is 3.5.3, while on plugins.qgis.org is 3.5.5.

[2021-07-07 06:26] agiudiceandrea commented on #59
@hamiltoncj It seems working.

Anyway the description of `from_pluscode` seems incorrect: "Calculate the Plus Code coordinate from latitude and longitude coordinates."
https://github.com/NationalSecurityAgency/qgis-latlontools-plugin/blob/0180592819ede0471d6578c0cbd321ee2220e69b/latLonFunctions.py#L316-L319

Moreover I'd suggest specifying that the coordinates are expected to be WGS84 (isn't it?).

[2021-07-07 14:22] hamiltoncj commented on #59
@agiudiceandrea I fixed the documentation and released 3.5.6.

[2021-07-07 14:31] #59 closed

[2021-09-14 14:06] jipexu opened #60 "qgis crash when using the button to capture the coordinate"
Hi
when i use the button to capture the coordinate (the last on right of the panel)
i can activate the button but then if i click on the map (or on the buton to desactivate, or even outside of the QGIS window) QGIS crash (every time)

with 3.5.7 and QGIS 3.20
on macOS  Big sur 11.5.2

can you reproduce this ?

Thanks

[2021-09-14 15:54] hamiltoncj commented on #60
@jipexu
I have not had any problem. What specific tool are you using when this happens? Are there any error messages? If you go to Plugins->Python Console and open it up are there any error messages? In the lower right-hand corner of QGIS there is a button to show messages. Is there anything there? Did this start happening after a recent QGIS upgrade? Have you tried the QGIS LTR release?

I am not

[2021-09-14 16:34] jipexu commented on #60
Thanks for your answer
yes i upgraded (QGIS AND laltlong plugin) 1 or 2 weeks ago (both are the last version it seems ...)

there is no message in the qgis console .... QGIS crash directly ...  so i have an apple message ...

I tried to know if it is a relation with the displayed layer(s) but i can not find ...
if i click on the capture coordinate button on the Coordinate Conversion panel ...  ==

[2021-09-14 17:37] hamiltoncj commented on #60
I don't know what is wrong. Technically, a plugin shouldn't crash the application. Given that Lat Lon Tools is so heavily used and this is the first I have heard of this problem, I suspect it is an issue with your QGIS installation or profile. I know it can be frustrating and it is hard for me as well because of not having macOS computer to test on. Here are some things you can try depending on wh

[2021-09-15 06:59] jipexu commented on #60
Thanks
i will continue to explore and try your advice

this work ... (i got the tooltip to copy the coordinate)

[2021-09-20 10:48] roelsantiago opened #61 "Lat Lon Tools expression to be used in array foreach"
Is there a way to use the ddmmss expression instead of to_dms inside the array for each? see expression below:

replace (
    array_to_string (
        array_foreach (
            generate_series (1, num_points( $geometry)-1),
            to_dms (x(point_n( $geometry,@element)),'y',2, 'suffix')  || ' ' ||
            to_dms(y(point_n( $geometry,@element)),'x',2, 'suffix')  || '\n'
    )),
    ',',

[2021-09-20 16:48] hamiltoncj commented on #61
You could do something like this.

replace (
array_to_string (
array_foreach (
generate_series (1, num_points( $geometry)-1),
ddmmss(y(point_n( $geometry,@element)), x(point_n( $geometry,@element)), 'yx',0,'')
)),
',',''
)

[2021-09-21 12:21] hamiltoncj commented on #61
You can use

transform(geometry,source_auth_id,dest_auth_id)

Perhaps I should add an optional crs parameter to ddmmss to make it easier.

[2021-09-21 15:13] hamiltoncj commented on #61
I updated Lat Lon Tools to version 3.5.8 so you can now add an optional CRS parameter like this:

ddmmss(3301866.78, -9081576.13, 'yx', 0, ', ',  'EPSG:3857')

[2021-09-21 15:22] roelsantiago commented on #61
Dear Sir,

Can you show how to combine the transform expression in the below expression

replace (
array_to_string (
array_foreach (
generate_series (1, num_points( $geometry)-1),
ddmmss(y(point_n( ***@***.*** <https://github.com/element>)),
x(point_n( ***@***.*** <https://github.com/element>)), 'yx',0,'')
)),
',',''
)

Thanks and kind regards,

Roel

On Tue, Sep 21, 2021 at 3:21 PM C Hamilton ***

[2021-11-28 09:40] ianengelbrecht opened #62 "Coordinates conversion code"
Could I ask if the code you use for converting coordinates is publically available as a standalone Python module (I'm assuming it's Python)? I wrote a [coordinates converter for Javascript](https://www.npmjs.com/package/geo-coordinates-parser) and it would be great to have something like this for Python. Many thanks!

[2021-11-30 14:33] hamiltoncj commented on #62
@ianengelbrecht There are a number of different parts to the code. Some of them are public python modules, such as MGRS, Google Plus code, Geohash, & Maidenhead. There are other parts such as parsing of latitude and longitude coordinates that I wrote. I have not made that into a separate library. My UTM code requires the PyQGIS library.

I guess the overall answer to your question is no I don't ha

[2021-12-21 09:50] TyHol opened #63 "Virtual field and coordinate capture results do not match."
I have a point layer with one feature at location 82700, 86000 (x,y, EPSG:29902) , I'm trying to add a virtual field with long lat using
 dm( $x ,$y,'xy',4,True, True,',','EPSG:29902'), the resultant long lat [009° 39.6057' W,51° 59.1106' N] value is different from that obtained using the coordinate capture tool [009° 42.55415' W, 52° 00.84801' N].
Both the project and the layer are EPSG:29902.
![

[2021-12-23 13:43] hamiltoncj commented on #63
@TyHol
Thanks for letting me know. This appears to be a bug. I will get back to you with an update, but I am out of the office most of the time between now and the new year.

[2021-12-23 14:32] hamiltoncj commented on #63
@TyHol
Actually, the algorithms are correct. The dm algorithm expects the coordinates in y, x order. So if you input

dm( $y ,$x,'xy',4,True, True,',','EPSG:29902')

you will get the correct results. The 'xy' field specifies the output order - not the input order.

[2021-12-24 08:30] TyHol commented on #63
Thanks a million for that and all the work you've put into the plugin. Have a good break and a happy new year.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: C Hamilton ***@***.***>
Sent: Thursday, December 23, 2021 2:32:39 PM
To: NationalSecurityAgency/qgis-latlontools-plugin ***@***.***>
Cc: TyHol ***@***.***>; Mention ***@***.***>
Subject: Re: [NationalS

[2021-12-24 09:11] #63 closed

[2021-12-27 22:02] #62 closed

[2021-12-29 19:13] hamiltoncj commented on #60
Closing because I was never able to replace this problem and the amount of time since the last correspondence with user.

[2021-12-29 19:13] #60 closed

[2021-12-30 04:13] jfbourdon opened #64 "Unable to remove Copy Extent Button from toolbar"
Unchecking the appropriate box in the Interface Customization options doesn't remove the Copy Extent buttons from toolbar. I tried various combinations of checked/unchecked levels without any success. However, unchecking a single button like _latLonToolsCopy_ or _latLonToolsDigitize_ works as it should. I wonder if it has to do with the fact that the level labeled _Copy Extents to Clipboard_ and i

[2021-12-30 14:21] hamiltoncj commented on #64
@jfbourdon Giving the top level a name did the trick. You should be able to remove it from the toolbar now. The new version is 3.5.10. It looks like once you make changes you need to exit QGIS and relaunch it to see the change.

[2021-12-30 18:51] ianengelbrecht commented on #62
My apologies that I did not reply @hamiltoncj, I meant to. Thank you for the response. I'm specifically interested in lat/long conversion. If that is standalone and coule be modularized easily it would be valuable to have. If not though please don't go to the trouble, it might simpler to convert my javascript code to Python.

[2021-12-31 21:16] jfbourdon commented on #64
Thanks, all fixed now.

[2021-12-31 21:16] #64 closed

[2022-01-23 06:14] roelsantiago commented on #61
Dear Sir,

Good morning!

Hope this email finds you well,

I would like to resurface this email thread on the expression to get the
coordinate conversion in array_foreach. This time I need them in decimal
degree instead of ddmmss (needed to digest the data in AIXM gml code which
requires decimal degrees instead of ddmmss). I've checked the
documentations, there was no expression for decimal degree

[2022-01-24 14:08] hamiltoncj commented on #61
@roelsantiago Usually it is best to open a new ticket, but I will reopen this one. I didn't add a decimal degree routine because you can naturally get the x and y decimal coordinates from $x and $y. If you need to you can transform your coordinate first. I don't know if it is worth adding a Lat Lon Tools expression to format the entire string all at once.

[2022-01-24 21:20] hamiltoncj commented on #61
@roelsantiago I decided to add two more expressions and should have a new Lat Lon Tools release before the end of the week.

[2022-01-25 09:53] roelsantiago commented on #61
Dear Sir,

This is a welcome news for us in the aeronautical information management
domain as we can easily extract the geographic extent of a layer (for
aerodrome mapping element such as taxiway, runway, apron and aircraft
stands) in local coordinate system  and transform to aixm data using QGIS
expression (especially array_foreach expression). Currently, what we are
doing is to transform the lay

[2022-01-25 19:56] hamiltoncj commented on #61
I released Lat Lon Tools 3.6.2. There is a new function called ll_dd. Let me know how it works out for you.

[2022-01-26 09:00] roelsantiago commented on #61
Dear Sir,

Got it, Superb addition to the tools!. I will recommend my colleagues in
the AIM Community to use your plugin..

Muchas gracias!

Kind regards,

Roel

On Tue, Jan 25, 2022 at 10:56 PM C Hamilton ***@***.***>
wrote:

[2022-01-26 20:52] hamiltoncj commented on #61
@roelsantiago Glad it works for you.

[2022-01-26 20:52] #61 closed

[2022-03-02 13:06] opalina79 opened #65 "Lat Lon Digitize problem"
when I add a new point the tool inserts a new point feature and the attribute but at the same time modifies the attributes of the first record, overwriting them with those just inserted.

[2022-03-02 14:33] hamiltoncj commented on #65
I tested "Lat Lon Digitize" which I think you are probably talking about. Please verify that is correct. I was not able to replicate the problem you are seeing. Can you provide more information? What operating system and what version of QGIS you are using? What type source layer you are trying to add points to? What are the steps to replicate this problem?

[2022-03-02 15:11] opalina79 commented on #65
Hi, thanks for replying. My operating System is Win11 (but the problem was on win10 too). Qgis ver. 3.20.3. with installed the last version of Lat Lon Tools plugin.
I've a point layer, and i must add new point (new Meteo-Idro station). I active the editing of the point layer, click on Lat Lon Digitize, insert the lattitude and longitude Coordinates and the form for attribute insert appear. So I ad

[2022-03-02 16:06] opalina79 commented on #65
Point Layer called "Lista Sensori TOTALE"
![1](https://user-images.githubusercontent.com/95290448/156398574-ab1ec554-025b-420e-9523-d058be43a41c.png)

Start Editing
![2](https://user-images.githubusercontent.com/95290448/156398591-58491f24-fb0c-49ea-9ec2-01ac9620add6.png)

I digit LAT LON Coordinates
![3](https://user-images.githubusercontent.com/95290448/156398599-5bda7804-1ffc-46e4-b51f-be2e0407

[2022-03-03 14:37] hamiltoncj commented on #65
I just installed the same version of QGIS you are using, but have not been able to duplicate the problem. Is your source file a Shapefile, GeoPackage, or some database?

[2022-03-03 14:57] opalina79 commented on #65
Hi, it's a shp file.

Il gio 3 mar 2022, 15:37 C Hamilton ***@***.***> ha scritto:

[2022-03-03 15:46] hamiltoncj commented on #65
[latlontools-3.6.3-beta.zip](https://github.com/NationalSecurityAgency/qgis-latlontools-plugin/files/8179072/latlontools-3.6.3-beta.zip)
I have attached a new plugin. Can you test it to see if it works? I rewrote that section of code.

[2022-03-04 14:45] hamiltoncj commented on #57
This has been fixed as of Lat Lon Tools 3.6.3.

[2022-03-04 14:45] #57 closed

[2022-03-04 14:48] hamiltoncj commented on #65
I believe that this is now fixed as of Lat Lon Tools 3.6.3 which I just added to the qgis plugin repo. Let me know if you have any further problems.

[2022-03-07 14:01] hamiltoncj commented on #65
I am going to close this issue. I believe the problem is solved, but if you find any other problems please let me know.

[2022-03-07 14:01] #65 closed

[2022-03-08 09:55] opalina79 commented on #65
Thank you. Now it seems to work correctly. Thank's for your job!

Il giorno lun 7 mar 2022 alle ore 15:02 C Hamilton ***@***.***>
ha scritto:

[2022-03-16 06:50] ratnanil opened #66 "std::bad_alloc"
I get a `std::bad_alloc` error when trying to install this plugin. After which, QGIS crashes. Any idea why this could be?

![DeepinScreenshot_20220316073903](https://user-images.githubusercontent.com/12532091/158531283-c40363f8-0a21-439c-83d5-5698d248b4c5.png)

When I check my QGIS Version, it says:

[code]

[2022-03-16 14:36] hamiltoncj commented on #66
I have not heard about an error like that before. I personally don't have an Ubuntu machine to test, but I know Lat Lon Tools is used heavily by the Ubuntu community and I would have expected to have been contacted well before now if others were having a similar problem. To me this sounds like a QGIS problem. You might try moving or removing your QGIS profile which will make it like you freshly do

[2022-03-29 04:23] gi921120 opened #67 "Multi-Location Zoom display wrong CRS"
Hi there,

When using the _Multi- Location  Zoom_ window the capture coordinates don't take the custom project CRS. They display the coordinates as Lat Long. I found a work around in the modification of the python files _captureCoordinate.py_ and _util.py_. I replaced the CRS 4326 with my custom project CRS and it works.  It would be handy if you can fix this on future updates.

Kind regards,

Gio

[2022-04-01 06:02] ratnanil commented on #66
Thank you for your answer and sorry for the long delay. I tried with different versions of QGIS, all with the same result (`std::bad_alloc`). However, a fresh installation of Ubuntu with 3.24.1 did resolve the problem!

[2022-04-01 06:02] #66 closed

[2022-04-13 11:23] pka commented on #66
Same error here. I can't activate the plugin with QGIS 3.24.1 on Ubuntu Linux. I'm not able to get a stack trace, only the message `Critical: Caught unhandled std::exception:  std::bad_alloc`

[2022-05-21 14:35] RW-gis opened #68 "Google Earth for Web as an external provider"
Hi - A simple suggestion for an enhancement, to add Google Earth for Web to the list of external map providers (which doesn't require Google Earth to be installed locally). After some searching for an appropriate format, I find that the following seems to work: https://earth.google.com/web/search/{lat},{lon}/

[2022-05-23 13:31] hamiltoncj commented on #68
That is a great suggestion. I should have a new release this week or next with this included.

[2022-05-24 19:18] hamiltoncj commented on #68
I released Lat Lon Tools 3.6.4 which includes Google Earth for Web.

[2022-05-24 19:22] hamiltoncj commented on #67
Closing due to lack of further input.

[2022-05-24 19:22] #67 closed

[2022-05-26 16:16] #68 closed

[2022-06-08 19:38] RW-gis commented on #68
Thank you 👍

[2022-06-27 15:19] #56 closed

[2022-07-28 13:43] greyeagle commented on #66
Same problem for me with Ubuntu and QGIS 3.16.11-Hannover
I tried starting up with a fresh profile not using any other plugins. Problem started a few weeks ago driving me up the wall. I use LatLon tools all the time (great tool and thank you at this point)
![image](https://user-images.githubusercontent.com/9130652/181520179-34a4bf2c-20a7-4f73-966a-52cfce83667c.png)

[2022-07-28 16:33] hamiltoncj commented on #66
I have no idea why this is occurring. I don't use Ubuntu so it makes it difficult to debug. As you can see one individual did a fresh install of Ubuntu and it solved the problem. I have queried the QGIS developers group to see if anyone else has seen this or would know why it is occurring. Do you have any problem with other plugins installed without Lat Lon Tools?  Have you tried older versions of

[2022-07-29 13:00] greyeagle commented on #66
I just upgraded from Ubuntu 20.04 to Ubuntu 22.04 and thus got to QGIS
3.22.4-Białowieża
did a fresh install of the plugin and now the issue is gone. I assume there are library version mismatches somewhere. As this issue only occurred some weeks ago and not from begin on (I used 20.04 quite long) some lib may have been updated somewhere in the system.
Thanks anyway for your great work.

[2022-07-30 00:20] hamiltoncj commented on #66
Thanks for the report.

[2022-10-31 04:58] stepanosokin opened #69 "Input D°M'S.SS" not in WGS-1984"
Hi!
Thank you so much for your awesome plugin! I have a question: Is there a way to input  D°M'S.SS" coordinates in non-WGS84 GCS directly when digitizing points? Currently I use the Coordinate Conversion dialogue first to convert  D°M'S.SS" to decimal D.DDDDD and then paste into Add Feature.
Thanks beforehand!

[2022-10-31 12:48] hamiltoncj commented on #69
You should be able to paste in your DMS string and it should work. You don't need a decimal as it detects both DMS and decimal degrees. If for some reason it doesn't work please give me some sample coordinates that don't work.

[2022-11-13 21:55] ppoliveira opened #70 "Lat Lon Tools Plugin || Multi-location Zoom window freezes"
Hi.

I can't manage to use multi-location zoom window. It appears on the screen but stays completely frozen, i.e., no selection or typing is possible. Other commands are working fine, including "Zoom to Coordinate".

What can be the cause of this behavior?

I'm using QGIS 3.22.4-Bialowieza on WSL (native OS Windows 11 v22H2.

Thanks in advance!

[2022-11-14 22:07] hamiltoncj commented on #70
I have not hand any problem with it, but I don't have a Windows 11 OS. I am busy this week, but I will inquire with others on the QGIS users group to see if anyone else has seen this happen.

[2022-11-15 08:51] ppoliveira commented on #70
Hi!

It works fine with QGIS on Win11, the malfunction is only with QGIS running on WSL/Ubuntu.

Thanks,

POL.

From: C Hamilton ***@***.***>
Sent: Monday, 14 November, 2022 22:07
To: NationalSecurityAgency/qgis-latlontools-plugin ***@***.***>
Cc: ppoliveira ***@***.***>; Author ***@***.***>
Subject: Re: [NationalSecurityAgency/qgis-latlontools-plugin] Lat Lon Tools Plugin || Multi-location Zoom w

[2022-11-21 14:00] hamiltoncj commented on #70
Let me refer you to a closed ticket.

https://github.com/NationalSecurityAgency/qgis-latlontools-plugin/issues/66

Given that this is a problem on Ubuntu this ticket may apply. It appears that in some circumstances with upgrades and changes in system software something breaks with QGIS. I don't believe that it is the Lat Lon Tools plugin, but the problem is revealed in the plugin because of QGIS l

[2022-11-21 15:17] ppoliveira commented on #70
Thanks!

Several other plugins have the same behavior, I’ve tried some updates with no success and I’ll keep trying.

From: C Hamilton ***@***.***>
Sent: Monday, 21 November, 2022 14:01
To: NationalSecurityAgency/qgis-latlontools-plugin ***@***.***>
Cc: ppoliveira ***@***.***>; Author ***@***.***>
Subject: Re: [NationalSecurityAgency/qgis-latlontools-plugin] Lat Lon Tools Plugin || Multi-location

[2022-11-21 16:57] hamiltoncj commented on #70
I'm going to close this ticket since this is an Ubuntu/QGIS configuration issue and not a Lat Lon Tools problem.

[2022-11-21 16:57] #70 closed

[2022-11-21 17:02] hamiltoncj commented on #69
Closing because no additional information was received.